/*reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	height: 100%;
}
.container-fluid{
	justify-content: flex-end!important;
}

.nav-item a{
	color: white!important;
	margin: 5px;
	background-color: black;
	text-align: center;
	font-family: 'Oswald', sans-serif;

}
.container-logo{
	text-align: center;
	margin-bottom: 10%;
}
.logo-size{
	width: 40%;
}

.container-cards{
	/* display: flex; */
}
.card-small{
	height: 250px;
	border: none!important;
}
.card-large{
	/* height: 338px;*/
}
.card-body-small {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60%;
	transform: translate(-50%, -50%);
}
.card-body-large{
	width: 90%;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.align-text{
	text-align: center;
}
.card-button{
	width: 100%;
	border: none;
	border-radius: 20px;
	font-size: 20px;
	line-height: 2;
	font-family: 'Oswald', sans-serif;
}
.card-button:hover{
	background-color: black;
	color: white;
}
.btn-more-info{
	width: 52%;
}
.card-title {
	margin-bottom: 1em!important;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 1.7em;
	text-transform: uppercase;
}
.card-text{
	font-family: 'Arial';
}
.bg-color-card{
	background-color: #FFE197!important;
	height: 338px;
}

.text-lg-uppercase{
	font-size: 42px;
	margin-bottom: 110px;
	font-family: 'Oswald', sans-serif;
}
.container-ice-logo{
	margin-bottom: 45px;
}
.title-ice-logo span{
	padding-left: 39px;
	padding-right: 30px;
}
.ice-logo{
	width: 75%;
	position: absolute;
	top: 6%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.title-ice-logo{
	font-size: 20px;
	font-weight: bold;
	padding-top: 3%;

}
.text-livraison{
	position: absolute;
	top: 96%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.container-social-media{
	text-align: center;
	margin-bottom: 25px;
}
.circle{
	background-color: black;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: inline-block;
	font-size: 2.0rem;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}

.circle img{
	width: 20px;
	height: auto;
}
footer a{
	text-decoration: none!important;
	color: white!important;
}
footer{
	text-align: center;
	margin: 4% auto;
}

footer p{
	font-family: 'Oswald', sans-serif;
}
.uppercase{
	text-transform: uppercase;
}
.font-shadows{
	font-family: 'Shadows Into Light', cursive;
}
.bold{
	font-weight: bold;
}

@media screen and (min-width: 768px)
{
	
	.container-cards{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.card-small{
		width: 30%;
		height: 310px;
		margin: 1%;
		margin-bottom: 6%;
		}
	.card-small img{
		border-radius: 20px;
	}
	.card-large{
		width: 30%;
		height: 425px;
		margin: 1%;
		border-radius: 20px!important;	
	}
	.card-large img{
		border-radius: 20px;
		height: 100%;
	}
	.navbar-collapse{
		justify-content: center;
	}
	.nav-item{
		margin-right: 100px;
	}
	.nav-item a{
		color: black!important;
		margin: 5px;
		background-color: transparent;
		text-align: center;
		font-family: 'Oswald', sans-serif;
	}
	.nav-item a:hover{
		text-decoration: underline;
	}
}